/CCBAnimationManager.js
/CCBKeyframe.js
/CCBReader.js
/CCBReaderUtil.js
/CCBRelativePositioning.js
/CCBSequence.js
/CCBValue.js
/CCControlLoader.js
/CCNodeLoader.js
/CCNodeLoaderLibrary.js
/CCSpriteLoader.js
