/autotest.py
/ci-dailybuild-android.py
/ci-release-test.py
/cocos-console-test.py
/cocos2dx-libsize-tracking.py
/emptytest-post-build.py
/emptytest.py
/github-pr-watchdog.py
/job-comment-trigger.py
/job-trigger.py
/post-build.py
/watchdog.py
