/test_A8.plist
/test_A8.png
/test_AI88.plist
/test_AI88.png
/test_NoFormat.plist
/test_PVRTC2.plist
/test_PVRTC2.pvr
/test_PVRTC2_NOALPHA.plist
/test_PVRTC2_NOALPHA.pvr
/test_PVRTC4.plist
/test_PVRTC4.pvr
/test_RGB565.plist
/test_RGB888.plist
/test_RGBA4444.plist
/test_RGBA5551.plist
/test_RGBA5555.plist
/test_RGBA8888.plist
/test_RGBA8888.png
