/AssetsManager.cpp
/AssetsManager.h
/AssetsManagerEx.cpp
/AssetsManagerEx.h
/CCEventAssetsManagerEx.cpp
/CCEventAssetsManagerEx.h
/CCEventListenerAssetsManagerEx.cpp
/CCEventListenerAssetsManagerEx.h
/Manifest.cpp
/Manifest.h
