/LICENSE_AA-EDT.txt
/LICENSE_CCBReader.txt
/LICENSE_CCControlExtension.txt
/LICENSE_JSON4Lua.txt
/LICENSE_Kazmath.txt
/LICENSE_LuaSocket.txt
/LICENSE_Poly2Tri.txt
/LICENSE_SpiderMonkey.txt
/LICENSE_artwork.txt
/LICENSE_box2d.txt
/LICENSE_chipmunk.txt
/LICENSE_cocos2d-iphone.txt
/LICENSE_cocos2d-x.txt
/LICENSE_cocosdenshion.txt
/LICENSE_com.android.vending.expansion.zipfile.txt
/LICENSE_curl.txt
/LICENSE_js.txt
/LICENSE_jsoncpp.txt
/LICENSE_libjpeg.txt
/LICENSE_libmd5-rfc.txt
/LICENSE_libpng.txt
/LICENSE_libtiff.txt
/LICENSE_libwebsockets.txt
/LICENSE_libxml2.txt
/LICENSE_llvm.txt
/LICENSE_lua.txt
/LICENSE_ogg_vorbis.txt
/LICENSE_pvmp3dec.txt
/LICENSE_spine.txt
/LICENSE_tolua++.txt
/LICENSE_tremolo.txt
/LICENSE_unicode.txt
/LICENSE_zlib.txt
