/CCProtectedNode.js
/CCProtectedNodeCanvasRenderCmd.js
/CCProtectedNodeWebGLRenderCmd.js
/UIScale9Sprite.js
/UIScale9SpriteCanvasRenderCmd.js
/UIScale9SpriteWebGLRenderCmd.js
/UIWidget.js
/UIWidgetRenderCmd.js
