/CCAnimation.js
/CCAnimationCache.js
/CCBakeSprite.js
/CCSprite.js
/CCSpriteBatchNode.js
/CCSpriteCanvasRenderCmd.js
/CCSpriteFrame.js
/CCSpriteFrameCache.js
/CCSpriteWebGLRenderCmd.js
/SpritesPropertyDefine.js
