/__init__.py
/add_framework_helper.py
/create_framework_helper.py
/functions.py
/local_package_database.py
/package_helper.py
/project_helper.py
/remove_framework_helper.py
/set_framework_helper.py
/zip_downloader.py
/zip_unpacker.py
