/BoilingFoam.plist
/BoilingFoamStar.plist
/BurstPipe.plist
/ButterFly.plist
/ButterFlyYFlipped.plist
/Comet.plist
/ExplodingRing.plist
/Flower.plist
/Galaxy.plist
/LavaFlow.plist
/Phoenix.plist
/SmallSun.plist
/SpinningPeas.plist
/Spiral.plist
/SpookyPeas.plist
/SpriteFrame.plist
/SpriteFrame.png
/TestPremultipliedAlpha.plist
/Upsidedown.plist
/debian.plist
/lines.plist
