/jsb_cocos2dx_3d_auto_api.js
/jsb_cocos2dx_3d_extension_auto_api.js
/jsb_cocos2dx_audioengine_auto_api.js
/jsb_cocos2dx_auto_api.js
/jsb_cocos2dx_builder_auto_api.js
/jsb_cocos2dx_experimental_video_auto_api.js
/jsb_cocos2dx_experimental_webView_auto_api.js
/jsb_cocos2dx_extension_auto_api.js
/jsb_cocos2dx_navmesh_auto_api.js
/jsb_cocos2dx_network_auto_api.js
/jsb_cocos2dx_physics3d_auto_api.js
/jsb_cocos2dx_spine_auto_api.js
/jsb_cocos2dx_studio_auto_api.js
/jsb_cocos2dx_ui_auto_api.js
