/coin-pro.json
/coin.atlas
/coin.png
/goblins-pro.json
/goblins.atlas
/goblins.png
/license.txt
/raptor-pro.json
/raptor.atlas
/raptor.png
/spineboy-ess.json
/spineboy.atlas
/spineboy.png
/sprite.png
/tank-pro.json
/tank.atlas
/tank.png
