/Android.mk
/CCDownloader-android.cpp
/CCDownloader-android.h
/CCDownloader-apple.h
/CCDownloader-apple.mm
/CCDownloader-curl.cpp
/CCDownloader-curl.h
/CCDownloader.cpp
/CCDownloader.h
/CCIDownloaderImpl.h
/CMakeLists.txt
/HttpAsynConnection-apple.h
/HttpAsynConnection-apple.m
/HttpClient-android.cpp
/HttpClient-apple.mm
/HttpClient-winrt.cpp
/HttpClient.cpp
/HttpClient.h
/HttpConnection-winrt.cpp
/HttpConnection-winrt.h
/HttpCookie.cpp
/HttpCookie.h
/HttpRequest.h
/HttpResponse.h
/SocketIO.cpp
/SocketIO.h
/Uri.cpp
/Uri.h
/WebSocket.cpp
/WebSocket.h
